body{
    margin: 8px;
    padding: 20px;
    background-color: tomato;
}
    .contenedor{
        display: grid;
        grid-template-columns: repeat(2,fr);
        gap: 20px;
    }
    .caja{
        background-color: greenyellow;
        padding: 40px;
        border-radius: 10px;



    }
    @media(max-width:600px){
        .contenedor{
            grid-template-columns: ifr;
        }
        

    }
            @media (min-width: 768px) {
          .contenedor {
            grid-template-columns: 1fr 1fr; 
          }
          .articulo {
            width: 50%; 
          }
        }